h1 {
  padding-top: 50px;
  color: orange;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.b-container {
  margin-top: 50px;
}

.navbar-color {
  background-color: rgb(129, 174, 235);
}

.home-bg {
  background-image: url("./assets/home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
