@font-face {
  font-family: 'LigatureSymbols';
  src: url('/static/LigatureSymbols-2.11.eot');
  src: url('/static/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
       url('/static/LigatureSymbols-2.11.woff') format('woff'),
       url('/static/LigatureSymbols-2.11.ttf') format('truetype'),
       url('/static/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
  src: url('/static/LigatureSymbols-2.11.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
}

.lsf-icon.amazon:before {
  content: '\E007';
}

h1 {
  padding-top: 30px;
  font-size: 50px;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.b-container {
  margin-top: 50px;
}

.navbar-color {
  background-color: rgb(129, 174, 235);
}

.home-bg {
  background-image: url("/static/home.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.contact {
  font-size: 100px;
}

.contacts {
  margin-left: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.copy {
  margin-top: 70px;
  font-size: 10px;
  color: grey;
}

.about-item {
  width: 280px;
  height: 188px;
  overflow: hidden;
  position: relative;
  border: 1px solid;
}

.about-item img {
  width: 280px;
}

.about-item .description {
  font-size: 130%;
  color: #fff;
  padding-top: 80px;
  padding-left: 0px;
}

.about-item .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* マスクを表示しない */
  background-color: rgba(0,0,0,0.4);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.about-item:hover .mask {
  opacity: 1; /* マスクを表示する */
}
