@font-face {
  font-family: 'LigatureSymbols';
  src: url('fonts/LigatureSymbols-2.11.eot');
  src: url('fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
    url('fonts/LigatureSymbols-2.11.woff') format('woff'),
    url('fonts/LigatureSymbols-2.11.ttf') format('truetype'),
    url('fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
  src: url('fonts/LigatureSymbols-2.11.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
}

.lsf-icon.amazon:before {
  content: '\E007';
}

/* Header */
header {
  background-image: url('images/top.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 {
  text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
    -1px 1px 0 #FFF, 1px -1px 0 #FFF,
    0px 1px 0 #FFF, 0-1px 0 #FFF,
    -1px 0 0 #FFF, 1px 0 0 #FFF;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.menu {
  text-align: center;
  text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
    -1px 1px 0 #FFF, 1px -1px 0 #FFF,
    0px 1px 0 #FFF, 0-1px 0 #FFF,
    -1px 0 0 #FFF, 1px 0 0 #FFF;
}

.menu:link, .menu:visited, .menu:active {
  color: black;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu:hover {
  background-color: orange;
}

/* Setting for profile image */
.br-max {
  border-radius: 50%;
}

.border-img {
  border: solid 1px black;
  align-self: center;
  margin-bottom: 20px;
  width: 100%;
}

/* Setting for h2 */
.section-title {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 50px;
}

/* Setting for h3 */
.subsection-title {
  font-weight: bold;
}

.section-title:after {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background-color: #ccc;
  margin: 30px auto 10px;
}

/* Design for timeline */
ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline>li {
  font-size: 20px;
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline>li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 30px;
  height: 30px;
  z-index: 400;
}

.timeline a {
  margin-left: 1000px;
}

.background-gray {
  margin-top: 20px;
  background-color: whitesmoke;
}

.accordion-img {
  width: 30%;
  float: left;
  margin: 0 20px 20px;
}

.card-body>h3 {
  font-size: 20px;
}

/* Set black background to footer */
footer {
  background-color: black;
  color: white;
}

/* Design for Contact */
.contact {
  font-size: 100px;
}

.contacts {
  margin-left: 30px;
}
